/*
color palette

#54494B
#7E8287
#EEF0F2
#B98389
#E77728

*/

body {
    background-color:#1d1f21;
    font-family: Arial, Helvetica, sans-serif;
}

#moon {
    float: left;
    margin-left: 10px;
    height: 45px;
    width: 45px;
}

.title {
    float: left;
    margin: auto;
    margin-left: 10px;
    color: #d6d6d6;
}

.sign-in-btn {
    float: right;
    margin-right: 4px;
    width: 80px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #1d1f21;
    padding: 10px;
    box-shadow: inset 0 0 14px #5c606e;
}

.sign-up-btn {
    float: right;
    margin-right: 10px;
    width: 80px;
    border: none;
    border-radius: 4px;
    background-color: #36383c;
    color: white;
    padding: 10px;
    box-shadow: inset 0 0 14px #5c606e;
}

#strip-container {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.grid {
    display: grid;
    place-items: center;
}

.strip-text {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#first-row {
    margin-bottom: 20px;
}

#placeholder {
    flex: right;
}



#searchButton {
    float: right;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #E77728;
    color: white;
}

#search {
    float: right;
    margin-right: 4px;
}

.grid-container {
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: 80px;
    width: 1000px;
    padding-top: 5px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
}

#loser {
    border-left: 1px solid rgba(0, 0, 0, 0.30);
}

#volume {
    border-left: 1px solid rgba(0, 0, 0, 0.30);
}

.grid-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.container-fluid {
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: auto;
    width: 1000px;
    padding-top: 5px;
    background-color: white;
}