/*
color palette

#54494B
#7E8287
#EEF0F2
#B98389
#E77728

*/

body {
    background-color:#EEF0F2;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    float: left;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    color: #E77728;
}

.sign-in {
    float: right;
    margin-top: 10px;
    margin-right: 4px;
    width: 80px;
    border: 2px solid #E77728;
    border-radius: 4px;
    background-color: white;
    color: #E77728;
    padding: 8px;
}

.sign-up {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    border: none;
    border-radius: 4px;
    background-color: #E77728;
    color: white;
    padding: 10px;
}

hr.rounded {
    border-color: rgba(0, 0, 0, 0.2);
    width: 99%;
    margin-bottom: 30px;
}

#first-row {
    margin-bottom: 20px;
}

#percent-change {
    margin-left: 20px;
}

#searchButton {
    float: right;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #E77728;
    color: white;
}

#myInput {
    float: right;
    margin-right: 4px;
}

.grid-container {
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: 80px;
    width: 1000px;
    padding-top: 5px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
}

#loser {
    border-left: 1px solid rgba(0, 0, 0, 0.30);
}

#volume {
    border-left: 1px solid rgba(0, 0, 0, 0.30);
}

.grid-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.container-fluid {
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: auto;
    width: 1000px;
    padding-top: 5px;
    background-color: white;
}